### This notebook is written by Jiawen Liang for the AccFin PhD workshop: Python for Data Analysis in Nov 2022. Please do not circulate without permissions.

# Session 2: Python basics

## Calculator
- Calculation
- Arithmetic operations

## Variables
- Integer
- FLoat
- String
- Boolean
- NoneType

## Print

## Boolean logic

## List and loop

## Dictionaries

# Use Python as a calculator

## Calculation

In [1]:
555 * 100

55500

In [2]:
10 * 50

500

## Arithmetic operations

In [3]:
# + addition
# +
4+3

7

In [4]:
# - subtraction
4-3

1

In [5]:
# / division
8/2

4.0

In [6]:
# % mod
#  %
7 % 3

1

In [7]:
# * multiplication
5 * 2

10

In [8]:
# // floor division
7//2

3

In [8]:
# ** exponentiation
# **
5 ** 2

25

## Exercise: meaning of symbols

In [9]:
4 + 6 ** 2

40

In [10]:
(4 + 6) ** 2

100

In [11]:
8 ** 2 / 4

16.0

# Variables

In [10]:
# writing comments: command + /

In [12]:
abc

NameError: name 'abc' is not defined

In [11]:
x

0

In [13]:
# create variables
# =: assign a value
x = 0
x

0

In [14]:
b

NameError: name 'b' is not defined

In [15]:
# ==
x == 1

False

# Integer

In [14]:
# interger: no decimal point
x = 100

In [15]:
# float: with decimal points
x = 120.33

In [16]:
# string: text
x = "Hello world!"

In [17]:
x

'Hello world!'

In [20]:
x = "1"
x

'1'

In [22]:
x = 'Hello World!'
x

'Hello World!'

In [24]:
# boolean: True or False
x = True
x

True

In [26]:
y = "False"
y

False

In [28]:
x = None
x

# Excercise: identify the type of variables

In [30]:
x = 3

In [31]:
y = "3"
y

'3'

In [32]:
# can two different types add together?
x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- We can't do arithmetic operations on variables of different types. Therefore please make sure your variables types!
- You can find the type of variable using type().

In [33]:
type(x)

int

In [34]:
type(y)

str

In [35]:
# Convert variables to different types
x = "30"
y = 20
int(x) + y

50

In [36]:
# Other similar methods: int(), float(), str()
# try:
x = 30
str(x)

'30'

In [37]:
type(str(x))

str

In [38]:
# - interger and float can add together.
x = 10
y = 10.2222
x+y

20.2222

In [ ]:
# Other examples?

# Strings
- can be added together
• can be multiplied
• can be multiple lines

In [41]:
# - the same type of strings can add together.
x = "Yes,"
y = "you are right."
x+y

'Yes,you are right.'

In [27]:
x + " " + y

'Yes, you are right.'

In [42]:
x + " " + y * 5

'Yes, you are right.you are right.you are right.you are right.you are right.'

In [44]:
# there are many methods for strings
dir("str")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [45]:
x.__add__(y)

'Yes,you are right.'

In [46]:
x = "abc"
x = x.upper()
x

'ABC'

In [47]:
x = x.lower()
x

'abc'

In [48]:
# if you want to mix up strings and number
x = 10
y = "the number is: "
y + str(x)

'the number is: 10'

In [52]:
# multiline strings
x = """Jiawen is editiing this notebook.
The copyright of this notebook belongs to Jiawen."""
print(x)

Jiawen is editiing this notebook.
The copyright of this notebook belongs to Jiawen.

In [51]:
y = "you can use \n a special character \n to create a new line of\n string"
print(y)

z ="this method does not work \n if you do not print!"
z

you can use
 a special character
 to create a new line of
 string

'this method does not work \n if you do not print!'

In [53]:
# locate a value in a string by index
x = "abc"
x[0]

'a'

In [54]:
x[1]

'b'

# Exercies
- mix up two variable together: a = "a student's grade:", b = 100

In [57]:
a = "a student's grade:"
b = 100
b_str = str(b)

a + b_str

"a student's grade:100"

# Print
-when you are writing code, your outcome will not print out
-you should print them by yourself by print()
-please do not mix up different type of variables by +
- if we want to mix up different variable, use , in print()

In [58]:
x = str(10)
y = "the number is: "
print(y + x)

the number is: 10

In [59]:
x = 10
y = "the number is: "
print(y + x)

TypeError: can only concatenate str (not "int") to str

In [60]:
x = 10
y = "the number is: "
print(y, x)

the number is:  10

# Boolean logic
- a == b True if a and b have the same value
- a != b True if a and b have the different value
- a < b
- a > b
- a <= b
- a >= b

In [61]:
# examples
a = 10 # assign a value first
a == 100 # check if a equals to 100

False

In [62]:
a <1000

True

# other logical operators
- a or b True if at least one a or b is true
- a and b True only if both are True
- not a True only if a is false

In [63]:
# example
a = 20
a > 10 and a < 200

True

In [64]:
not a == 100

True

# List and loop
- list can store data
- loop can iterate over data structure such as list

In [67]:
# ways to create a list
a = list()
print(a)
type(a)

[]

list

In [69]:
a = []
a

[]

In [70]:
a = [1,2,3]
print(a)
type(a)

[1, 2, 3]

list

In [71]:
len(a)

3

In [72]:
# list indexing
# find a value in a list by an index
# the index should always start from 0
a[0]

1

In [73]:
a[1]

2

In [74]:
a[2]

3

In [75]:
# count from the back.
# the index of the last one is -1.
a[-1]

3

In [51]:
# when selecting a range of index, the last number is not included in the range.
# in this example, a[2] = 3, but actually index 2 is not included in the range, so they will only select the value with the index from 1 to 2.
a[0:2]

[1, 2]

In [79]:
a = [1,2,3,4,5]
a[0:5]

[1, 2, 3, 4, 5]

In [ ]:
# more example of the range of list?

## combine list together
- use +
- append()
- extend()

In [80]:
# add list together
a = [1, 2, 3]
b = [4] * 3
a+b

[1, 2, 3, 4, 4, 4]

In [81]:
a = ["apple"] * 2
b = ["juice", "food"]

In [82]:
a+b

['apple', 'apple', 'juice', 'food']

In [83]:
a.append(b)

In [84]:
a

['apple', 'apple', ['juice', 'food']]

In [85]:
a = ["apple"] * 2
b = ["juice", "food"]
a.extend(b)
a

['apple', 'apple', 'juice', 'food']

In [58]:
a = ["apple"] * 2
b = ["juice", "food"]
a.append(b)
a

['apple', 'apple', ['juice', 'food']]

In [59]:
# difference between append() and extend()?

-Loop

In [86]:
cosmetics_brands = ["Dior", "Chanel","Tom Ford","YSL"]

In [87]:
cosmetics_brands[0][1]

'i'

In [89]:
for a in cosmetics_brands:
    print(a)

Dior
Chanel
Tom Ford
YSL

In [90]:
len(cosmetics_brands)

4

In [92]:
a = 4
range(4)

range(0, 4)

In [91]:
range(len(cosmetics_brands))

range(0, 4)

In [93]:
for i in range(len(cosmetics_brands)):
    print(i)
    print(cosmetics_brands[i])

0
Dior
1
Chanel
2
Tom Ford
3
YSL

In [94]:
first_letter = []
for i in range(len(cosmetics_brands)):
    print(cosmetics_brands[i][0])
    first_letter.append(cosmetics_brands[i][0])
print(first_letter)

D
C
T
Y
['D', 'C', 'T', 'Y']

# Exercise: list
1. for list1 = [101, 202, 303, 404, 505], divide each value by 100
2. find the last number for each number in the list

In [67]:
# solution
list1 = [101, 202, 303, 404, 505]

list2 = []

for i in list1:
    a = i/100
    list2.append(a)
    
print(list2)

for i in list1:
    print(str(i)[-1])

[1.01, 2.02, 3.03, 4.04, 5.05]
1
2
3
4
5

# Dictionaries

- a data structure

- Consists of two items: Key, Value

In [68]:
# create a dict
a_dict = dict()
type(a_dict)

dict

In [69]:
time_dict = {"Morning": "7am", "Moon": "12pm", "Evening":"9pm"}
time_dict

{'Morning': '7am', 'Moon': '12pm', 'Evening': '9pm'}

In [70]:
time_dict.keys()

dict_keys(['Morning', 'Moon', 'Evening'])

In [71]:
time_dict.values()

dict_values(['7am', '12pm', '9pm'])

In [72]:
# acccess the value in a dict using index
time_dict["Morning"]

'7am'

In [73]:
# add a new key and value
time_dict["midnight"] = "12am"

In [74]:
time_dict

{'Morning': '7am', 'Moon': '12pm', 'Evening': '9pm', 'midnight': '12am'}

In [75]:
# iterate the key in dict
for i in time_dict:
    print(i)

Morning
Moon
Evening
midnight

In [76]:
# iterate the value in dict
for i in time_dict:
    print(time_dict[i])

7am
12pm
9pm
12am

# Exercise for dictionary:

1.  create a dictionary called "grades" with the following information:

  - Amy: 50
  - Jolin: 66
  - Sarah: 89
  - Jay: 75

2.  Using a loop to iterate over the dictionary:
  - save the names in a list object called "name_list".
  - save the grades in a separate list called "grade_list"

In [1]:
# solution
grades = {"Amy": 50, "Jolin": 66, "Sarah": 89, "Jay": 75}
name_list = []
grade_list = []

for n in grades:
    name_list.append(n)
    grade_list.append(grades[n])

print(name_list)

['Amy', 'Jolin', 'Sarah', 'Jay']

# Function
-examples: int(), str(), lust(), string.upper()...
-learn to create our own functions

In [95]:
def greetings():
    print("Hello from a function")

In [96]:
# call a function
greetings()

Hello from a function

## Arguments
- Arguments are the information passed into the functions.
- They are specified after a function name, then put into the parenthesis.
- Use comma"," to seperate arguments in the parenthesis.

In [98]:
def greetings(information):
    print("Hello from", information)

greetings("PhD students")
greetings("UofG")

Hello from PhD students
Hello from UofG

In [81]:
# multiple arguments
def greetings(inf, organization):
    print("Hello from", inf, "at the", organization)

greetings("PhD students", "University of GLasgow")

Hello from PhD students at the University of GLasgow

## Return values

In [82]:
def square(n):
    return n**2

square(5)

25

In [99]:
def square(n):
    n**2

square(5)

## Pass
If your function does not have content, use "pass" statement

In [101]:
def square():
    pass

In [102]:
square()

# Exercise for function:
- define a function that print the value in the dictionary
- the dictionary is grades = {"Amy": 50, "Jolin": 66, "Sarah": 89, "Jay": 75}

In [2]:
# solution
grades = {"Amy": 50, "Jolin": 66, "Sarah": 89, "Jay": 75}

def print_value(dict):
    for i in dict:
        print(dict[i])

print_value(grades)

50
66
89
75